<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>detail Product</title>
</head>
<body>
<head th:replace="/layout :: head">
    <div align="center">
        <div style="width: 100%; height: 100%">
            <div class="container">
                <form class="well form-horizontal" action=" " th:action="@{/product/remove}" th:object="${productView}" method="post"  id="contact_form">
                    <fieldset >

                        <!-- Form Name -->
                        <legend><center><h2><b>detail Product</b></h2></center></legend><br>

                        <!-- Text input-->

                        <div class="form-group">
                            <label class="col-md-4 control-label">ID Product</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <input name="ID" placeholder="ID" class="form-control"  type="text" th:field="*{id}" readonly>
                                </div>
                            </div>
                        </div>

                        <!-- Text input-->

                        <div class="form-group">
                            <label class="col-md-4 control-label" >Name Product</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input name="name" placeholder="Name Product" class="form-control"  type="text" th:field="*{name}"readonly >
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Price</label>
                            <div class="col-md-4 selectContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                    <input name="price" placeholder="Price of product" class="form-control"  type="text" th:field="*{price}" readonly>
                                </div>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">manufacturer</label>
                            <div class="col-md-4 selectContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                    <input name="manufacturer" placeholder="manufacturer Of Product" class="form-control"  type="text" th:field="*{manufacturer}" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">category</label>
                            <div class="col-md-4 selectContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                    <input name="category" placeholder="category" class="form-control"  type="text" th:field="*{category}" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">quantity</label>
                            <div class="col-md-4 selectContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                    <input name="quantity" placeholder="quantity" class="form-control"  type="text" th:field="*{quantity}" readonly>
                                </div>
                            </div>
                        </div>

                        <!-- Button -->


                        <div class="form-group">
                            <div class="col-md-4 control-label ">
                                <button type="button" class="btn btn-success">
                                    <a th:href="@{/product/{id}/edit(id=${productView.getId()})}" style="text-decoration: none; color: #0c0c0c">Edit</a>
                                </button>
                                <button type="submit" class="btn btn-danger">delete</button>

                                <button type="submit" class="btn btn-warning"><a th:href="@{/}" style="text-decoration: none; color: #0c0c0c">Back</a></button>

                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <footer th:replace="/layout::footer"></footer>
</body>
</html>