<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/head"></th:block>

<body>
<!-- Page Wrapper -->
<div id="wrapper">
    <th:block th:include="fragments/sidebar"></th:block>
    <!-- Main Panel -->
    <div class="main-panel">
        <th:block th:include="fragments/navbar"></th:block>
        <!-- Begin Page Content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 " >
                        <div class="card">
                            <div class="header">
                                <h4 class="title" th:text="#{edit.title}"> Edit Customer</h4>
                                <p class="category">fill out & click save</p>
                            </div>

                            <div class="content" >
                                <form th:object="${view}" th:action="@{/customer/save}" th:method="post">
                                    <div class="form-group">
                                        <input type="hidden" class="form-control" th:field="*{id}" readonly/>
                                    </div>
                                    <div class="form-group">
                                        <label for="name" style="color:#000;"  th:text="#{list.name}">Name</label>
                                        <input style="color:#555151;" type="text" class="form-control" id="name" aria-describedby="name" th:field="*{name}" readonly/>
                                        <label style="color: red" th:if="${#fields.hasErrors('name')}"
                                               th:errors="*{name}"></label>
                                    </div>
                                    <div class="form-group">
                                        <label for="email" style="color: black" th:text="#{list.email}">Email</label>
                                        <input type="text" class="form-control" id="email" aria-describedby="email" th:field="*{email}" readonly />
                                        <label style="color: red" th:if="${#fields.hasErrors('email')}"
                                               th:errors="*{email}"></label>
                                    </div>
                                    <div class="form-group">
                                        <label for="phone" style="color: black" th:text="#{list.phone}">Phone</label>
                                        <input type="text" class="form-control" id="phone" aria-describedby="phone" th:field="*{phone}" readonly/>
                                        <label style="color: red" th:if="${#fields.hasErrors('phone')}"
                                               th:errors="*{phone}"></label>
                                    </div>
                                    <div class="form-group">
                                        <label for="date" style="color: black" th:text="#{list.birthday}">birthday</label>
                                        <input type="date" class="form-control" id="date" th:field="*{birthday}" readonly/>
                                        <label style="color: red" th:if="${#fields.hasErrors('birthday')}"
                                               th:errors="*{birthday}"></label>
                                    </div>
                                    <div class="form-group">
                                        <label for="typeCustomer" style="color: black" th:text="#{list.typeCustomer}">Type Customer</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="typeCustomer" aria-describedby="typeCustomer" th:field="*{typeCustomer.name}" readonly/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="province" th:text="#{list.city}">Province</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="province" aria-describedby="province" th:field="*{province.name}" readonly/>
                                        </div>
                                    </div>
                                    <a th:href="@{/customer}" class="btn btn-default">Back</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
            <th:block th:include="fragments/footer"></th:block>

        </div>
        <!-- /.content -->
    </div>
    <!-- End of Main Panel -->
</div>

<th:block th:include="fragments/scripts"></th:block>
</body>
</html>