<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <title>Add New Product</title>
</head>
<body>
<head th:replace="/layout :: head">
<div align="center">

        <div class="container">
            <legend><h2><b>Add New Product</b></h2></legend><br>
            <form class="well form-horizontal" action="#" th:action="@{/product/save}" th:object="${productSave}" method="post"  id="contact_form">
                <fieldset >
                    <div class="form-group">
<!--                        <label class="col-md-4 control-label">ID Product</label>-->
<!--                        <div class="col-md-4 inputGroupContainer">-->
                            <div class="input-group">
                                <input name="ID" placeholder="ID" class="form-control"  type="hidden" th:field="*{id}" >
                            </div>
<!--                        </div>-->
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" >Name Product</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input name="name" placeholder="Name Product" class="form-control"  type="text" th:field="*{name}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Price</label>
                        <div class="col-md-4 selectContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                <input name="price" placeholder="Price" class="form-control"  type="text" th:field="*{price}">
                            </div>
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label">image</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input  name="image" placeholder="image" class="form-control"  type="text" th:field="*{image}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Category</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input  name="category" placeholder="category" class="form-control"  type="text" th:field="*{category}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">quantity</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input  name="quantity" placeholder="so luong san pham" class="form-control"  type="text" th:field="*{quantity}">
                            </div>
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-4  ">
                            <button type="submit" class="btn btn-success">Submit</button>
                            <button type="reset" class="btn btn-primary">Reset</button>
                            <button type="submit" class="btn btn-warning"><a th:href="@{/}" style="text-decoration: none; color: #0c0c0c">CANCEL</a></button>

                        </div>
                    </div>
                </fieldset>
            </form>
        </div>

</div>
<footer th:replace="/layout::footer"></footer>
</body>
</html>
